.bg-hero{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png");
   height: 730px;
   background-repeat: no-repeat;
   background-size:cover;
}